{{yield}}

{{description-header text=model.header_text}}

<div class="blog-list content">
  {{#each model.works as |work|}}

    <div class="work-list-post">
      {{#link-to 'work.show' work.id}}
        <img class="works-header-image" src="{{work.image_path}}">
      {{/link-to}}
        {{#link-to 'work.show' work.id}}<h3>{{work.title}}</h3>{{/link-to}}
      <p>{{{work.description}}}</p>
    </div>
    <p class="faded-label tag-list">
      {{#each work.tag_list as |tag|}}
        {{tag}}
      {{/each}}
    </p>
  {{/each}}

</div>
