{{outlet}}

{{description-header text=model.header_text}}
<div class="blog-list content">
  {{#each sortedBlogsDesc as |blog|}}
    <div class="blog-list-post">
      <p class="faded-label">{{moment-format blog.created_at 'MMMM Do, YYYY, h:mm A'}}</p>
      <h3>{{blog.title}}</h3>
      <p>{{blog.description}}</p>
    </div>
    {{#link-to 'blog.show' blog.id}}<p class="read-more">Read More ></p>{{/link-to}}
  {{/each}}
</div>
